<div class="navbar navbar-expand-sm navbar-light navbar-custom d-flex align-items-center">
  <%= link_to "#", class: "navbar-brand" do %>
    <h1>The Good Company Framework</h1>
  <% end %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbar-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </a>
    <div class="dropdown-menu" id="navbar-drop-menu" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
        <%= link_to "Home", "#", class: "dropdown-item" %>
        <%= link_to "Dashboard", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </li>
</div>
